.wrapper {
    width: 356px;
    position: fixed;
    // top: 50;
    // left:0;
    // display: inline-block;
    background-color: var(--white);
    z-index: 8;
    margin-top: 20px;
    overflow-y: hidden;
    height: 625px;
    &:hover {
        overflow-y: auto;
    }
}

.separate {
    border-top: 1px solid rgba(22, 24, 35, 0.05);
}

.more-btn {
    color: var(--primary);
}

.title {
    margin-left: 10px;
}

.menu-item {
    display: flex;
    align-items: center;
    padding: 8px 8px 8px 0;
    font-size: 1.8rem;
    font-weight: 700;
    border-radius: 4px;
    color: var(--text-color);
    cursor: pointer;
    &:hover {
        background-color: rgba(22, 24, 35, 0.03);
    }
}

.icon {
    display: flex;
}
