.container {
    display: grid;
    // grid-template-columns: 2fr 1fr !important;
    grid-template-columns: 992px 544px !important;
    grid-template-rows: 100vh;
}

.video-content {
    min-height: 100px;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 100vh;
    // background-color: aqua;
}

.video-glassmorphism-wrap {
    position: relative;
}

.video-glassmorphism-wrap::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6); /* màu của layer làm mờ */
    z-index: 1;
}

.icon-contain {
    color: white;
    width: 36px;
    height: 36px;
    padding: 5px;
    border-radius: 99px;
    background-color: #46494a;
    &:hover {
        background-color: #2d3031;
    }
}

.close-icon {
    position: absolute;
    z-index: 20;
    top: 40px;
    left: 50px;
}

.up-icon {
    position: absolute;
    z-index: 20;
    top: 45%;
    left: 50px;
}

.down-icon {
    position: absolute;
    z-index: 20;
    top: 55%;
    left: 50px;
}

.info-content {
    margin: 50px 40px 0 40px;
}

//post item

.header-info {
    display: flex;
    justify-content: space-between;
}

.info-wrap {
    display: flex;
}

.content {
    width: 100%;
    height: 100%;
}

.wrapper {
    display: flex;
    padding: 20px 0;
    justify-content: space-around;
    border-bottom: 1px solid rgba(22, 24, 35, 0.2);
    margin: 0 16px;
}

.avatar {
    height: 46px;
    width: 46px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 4px;
}

.info {
    margin-left: 12px;
}

.username {
    font-weight: 700;
    font-size: 1.6rem;
    line-height: 2.5rem;
    display: inline-block;
    margin-right: 4px;
    // width: 100px;
    // overflow: hidden;
}

.name {
    font-weight: 400;
    font-size: 1.6rem;
    display: inline-block;
    line-height: 2.8rem;
}

.caption {
    font-weight: 400;
    font-size: 1.9rem;
    line-height: 2.2rem;
    display: block;
}

.music {
    font-size: 1.9rem;
    font-weight: bold;
}

.content {
    display: flex;
}

.video-player {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    &:hover {
        > .play-btn {
            display: block;
        }
    }
}

.video {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.play-btn {
    height: 24px;
    width: 24px;
    position: absolute;
    left: 18px;
    bottom: 36px;
    color: #fff;
    display: none;
}

.mute-btn {
    height: 24px;
    width: 24px;
    z-index: 20;
    position: absolute;
    right: 18px;
    bottom: 36px;
    color: #fff;

    &:hover {
        ~ .input-range {
            display: block;
        }
    }
}
.input-range {
    display: none;
    -webkit-appearance: none;
    height: 2px;
    width: 48px;
    transform: rotate(-90deg);
    position: absolute;
    right: 6px;
    bottom: 90px;
    color: #fff;

    &::after {
        content: '';
        display: block;
        background-color: transparent;
        position: absolute;
        right: 0px;
        top: -15px;
        height: 40px;
        width: 90px;
    }

    &:hover {
        display: block;
    }
}

.input-range {
    &::-webkit-slider-runnable-track {
        background-color: var(--wthite);
        height: 2px;
        text-align: center;
    }
}

.input-range {
    &::-webkit-slider-thumb {
        -webkit-appearance: none;
        transform: translateY(-6px);
        background-color: #ecf0f1;
        border: 1px solid #bdc3c7;
        width: 14px;
        height: 14px;
        border-radius: 10px;
        cursor: pointer;
    }
}

.icon-group {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-left: 20px;
    align-items: center;
}

.wrap-count-like-comment {
    display: flex;
}

.wrap-like {
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.wrap-icon {
    background-color: #f1f1f2;
    height: 32px;
    width: 32px;
    border-radius: 50%;
    margin: 8px 0 6px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 8;
    margin-right: 13px;
    cursor: pointer;
}

.icon {
    font-size: 1.8rem;
}

.quantity {
    color: rgba(22, 24, 35, 0.75);
    font-weight: 700;
    font-size: 1.4rem;
    line-height: 1.7rem;
    text-align: center;
}

.stateHeart {
    color: var(--primary);
    animation: zoomIn 0.5s linear;
}

@keyframes zoomIn {
    0% {
        transform: scale(1.5);
    }

    50% {
        transform: scale(0.7);
    }

    100% {
        transform: scale(1);
    }
}

.btn-follow {
    width: 54px;
}

.follow {
    border-color: var(--black);
    color: var(--black);

    &:hover {
        border-color: rgb(208, 209, 211);
        background-color: rgb(248, 248, 248);
    }
}

.copy-link-wrap {
    color: rgba(22, 24, 35, 0.75);
    font-size: 14px;
    line-height: 20px;
    display: flex;
    flex-direction: row;
    margin-top: 16px;
    box-sizing: border-box;
    border: 1px solid rgba(22, 24, 35, 0.12);
    border-radius: 8px;
    overflow: hidden;
}

.copy-link-title {
    color: rgba(22, 24, 35, 0.75);
    font-size: 14px;
    line-height: 20px;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    border: 1px solid rgba(22, 24, 35, 0.12);
    border-radius: 8px 0 0 8px;
    overflow: hidden;
}

.copy-link-title-detail {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    flex: 1 1 auto;
    padding: 7px 0px 5px 12px;
    background-color: rgba(22, 24, 35, 0.06);
}

.copy-link-btn {
    border: none;
    background: none rgba(22, 24, 35, 0.06);
    outline: none;
    color: rgb(22, 24, 35);
    font-weight: 700;
    flex: 0 0 auto;
    cursor: pointer;
    padding: 7px 18px;
}

// comment
.comment-wrap {
    margin-top: 20px;
    height: 330px;
    width: 100%;
    background-color: rgba(22, 24, 35, 0.06);
    padding: 10px;
    overflow: auto;
}

.comment-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 10px;
}

.comment-container-info {
}

.comment-container-info-icon {
    display: flex;
    flex-direction: column;
    font-size: 1.8rem;
    align-items: center;
    color: rgba(22, 24, 35, 0.5);
    padding: 0 10px;
    &-more {
        color: var(--black);
    }

    &-heart {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.hiddenMoreBtn {
    visibility: hidden;
}

.wrap-detele-edit-button {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.detele-edit-button:hover {
    color: var(--primary);
}

.comment-post {
    display: flex;
    align-items: center;
}

.comment-input-wrap {
    display: flex;
    margin: 10px 0;
    background-color: rgba(22, 24, 35, 0.06);
    align-items: center;
}
.comment-input {
    width: 328px;
    height: 20px;
    padding: 17px 10px;
    background-color: rgba(22, 24, 35, 0.06);
    border-radius: 5px 0 0 5px;
}

.comment-icon-wrap {
    display: flex;
    background-color: rgba(22, 24, 35, 0.06);
    padding: 5px 0;
    border-radius: 0 5px 5px 0;
}
.comment-icon-item {
    font-size: 2.3rem;
    margin-right: 10px;
}

// coment list
.wrap-username-name {
    display: flex;
    flex-direction: column;
}

.date-comment {
    color: rgba(22, 24, 35, 0.5);
}
