.wrapper {
    margin-top: 30px;
    margin-left: 356px;
}

.loading-wrap {
    display: flex;
    justify-content: flex-end;
    margin: 20px 100px 50px 0;
}

.green-ball {
    background-color: #3af2ff;
    height: 18px;
    width: 18px;
    border-radius: 50%;
    position: relative;
    animation: moveRight 1s ease-in infinite;
}

.red-ball {
    background-color: #fe2c55;
    height: 18px;
    width: 18px;
    position: relative;
    border-radius: 50%;
    animation: moveLeft 1s ease-in infinite;
}

@keyframes moveRight {
    from {
        left: 0;
    }

    to {
        left: 9px;
    }
}

@keyframes moveLeft {
    from {
        left: 0;
    }

    to {
        left: -9px;
    }
}
