.wrapper {
    display: flex;
    padding: 20px 0;
    justify-content: space-between;
    border-bottom: 1px solid rgba(22, 24, 35, 0.2);
    margin: 0 16px;
}

.container {
    display: flex;
}

.avatar {
    height: 56px;
    width: 56px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 4px;
}

.info {
    margin-left: 12px;
}

.username {
    font-weight: 700;
    font-size: 1.8rem;
    line-height: 2.5rem;
    display: inline-block;
    margin-right: 4px;
}

.name {
    font-weight: 400;
    font-size: 1.4rem;
    display: inline-block;
    line-height: 2.8rem;
}

.caption {
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 2.2rem;
}

.content {
    display: flex;
}

.video-player {
    position: relative;

    &:hover {
        > .play-btn {
            display: block;
        }
    }
}

.video {
    border-radius: 15px;
    display: block;
    width: 289.33px;
    height: 516.66px;
    object-fit: cover;
    margin: 20px 0 11px 0;
}

.play-btn {
    height: 24px;
    width: 24px;
    position: absolute;
    left: 18px;
    bottom: 36px;
    color: #fff;
    display: none;
}

.mute-btn {
    height: 24px;
    width: 24px;
    z-index: 20;
    position: absolute;
    right: 18px;
    bottom: 36px;
    color: #fff;

    &:hover {
        ~ .input-range {
            display: block;
        }
    }
}
.input-range {
    display: none;
    -webkit-appearance: none;
    height: 2px;
    width: 48px;
    transform: rotate(-90deg);
    position: absolute;
    right: 6px;
    bottom: 90px;
    color: #fff;

    &::after {
        content: '';
        display: block;
        background-color: transparent;
        position: absolute;
        right: 0px;
        top: -15px;
        height: 40px;
        width: 90px;
    }

    &:hover {
        display: block;
    }
}

.input-range {
    &::-webkit-slider-runnable-track {
        background-color: var(--wthite);
        height: 2px;
        text-align: center;
    }
}

.input-range {
    &::-webkit-slider-thumb {
        -webkit-appearance: none;
        transform: translateY(-6px);
        background-color: #ecf0f1;
        border: 1px solid #bdc3c7;
        width: 14px;
        height: 14px;
        border-radius: 10px;
        cursor: pointer;
    }
}

.icon-group {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-left: 20px;
    align-items: center;
}

.wrap-icon {
    background-color: #f1f1f2;
    height: 48px;
    width: 48px;
    border-radius: 50%;
    margin: 8px 0 6px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 8;
    cursor: pointer;
}

.icon {
    font-size: 2.8rem;
}

.quantity {
    color: rgba(22, 24, 35, 0.75);
    font-weight: 700;
    font-size: 1.6rem;
    line-height: 1.7rem;
    text-align: center;
}

.stateHeart {
    color: var(--primary);
    animation: zoomIn 0.5s linear;
}

@keyframes zoomIn {
    0% {
        transform: scale(1.5);
    }

    50% {
        transform: scale(0.7);
    }

    100% {
        transform: scale(1);
    }
}

.btn-follow {
    width: 54px;
}

.follow {
    border-color: var(--black);
    color: var(--black);

    &:hover {
        border-color: rgb(208, 209, 211);
        background-color: rgb(248, 248, 248);
    }
}
